<div class="a-radio">
  <input {{ attributes.addClass('a-radio__element') }}/>
  {% include '@atoms/icon/a-icon.html.twig' with {
    attributes: create_attribute().addClass('a-radio__icon', 'a-radio__icon--empty'),
    icon: 'radio-empty',
    kaizer_svg_sprite: kaizer_svg_sprite,
  } only %}
  {% include '@atoms/icon/a-icon.html.twig' with {
    attributes: create_attribute().addClass('a-radio__icon', 'a-radio__icon--filled'),
    icon: 'radio-filled',
    kaizer_svg_sprite: kaizer_svg_sprite,
  } only %}
  {{- children }}
</div>
