html {
  color: var(--color-dark);
  font-family: var(--font-family);
  font-size: var(--root-font-size);
  line-height: 1.3;
}

body {
  overflow-x: hidden;
  margin: 0;
  background-color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
