.h-grid {
  display: grid;
  gap: 24px;

  &__items {
    display: grid;

    .h-grid--gap-16 & {
      gap: 16px;
    }

    .h-grid--two-columns & {
      grid-template-columns: repeat(2, 1fr);
    }

    .h-grid--three-columns & {
      @media (--l) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .h-grid--four-columns & {
      @media (--m) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (--l) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
