/vendor
/web/core
/web/modules/README.txt
/web/modules/contrib
/web/profiles/README.txt
/web/sites/default/files
/web/sites/default/default.services.yml
/web/sites/default/default.settings.php
/web/sites/default/settings.php
/web/sites/development.services.yml
/web/sites/example.settings.local.php
/web/sites/example.sites.php
/web/sites/README.txt
/web/themes/README.txt
/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/.ht.router.php
/web/.htaccess
/web/autoload.php
/web/example.gitignore
/web/index.php
/web/INSTALL.txt
/web/LICENSE.txt
/web/README.md
/web/robots.txt
/web/update.php
/web/web.config
.editorconfig
.gitattributes
.DS_Store
/.idea/
