:root {
  --font-family: epilogue, sans-serif;
  --transition-duration-0-25: 0.25s;
  --transition-duration-1: 1s;
  --transition-timing-function-ease: ease;
  --transition-timing-function-cubic-bezier: cubic-bezier(0.25, 1, 0.5, 1);
  --outline-color: var(--color-black);
  --outline-size: 2px;
  --outline-offset: 2px;
  --header-height: 120px;
  /* stylelint-disable-next-line length-zero-no-unit */
  --toolbar-height: 0rem;
}
