{% set attributes = attributes.addClass('a-blockquote') %}
{% if variant != '' and variant|lower != 'default' %}
  {% set variants = variant|split('__') %}
  {% for variant in variants %}
    {% set attributes = attributes.addClass('a-blockquote--' ~ variant|lower|replace({'_': '-'})) %}
  {% endfor %}
{% endif %}

<blockquote{{attributes}}>
  <div>{{ quote }}</div>
  <footer>{{ attribution }}</footer>
    <svg class="a-button__icon">
      <use xlink:href="{{ svgSpritePath }}#svg-arrow"></use>
    </svg>
</blockquote>
