{%
  set classes = [
    'm-grid',
    modifier is iterable ? modifier|safe_join(' ') : modifier,
    extra_classes,
  ]
%}

<div {{ attributes.addClass(classes) }}>
  {% for item in items %}
    {{ item }}
  {% endfor %}
</div>

{% set vars = {attributes: create_attribute(), content: 'Button included'} %}
{% include '@patterns/atoms/button/a-button.html.twig' with vars only %}

