<div {{ create_attribute().addClass('a-text-field', 'a-text-field--password') }}>
  <div class="a-text-field__container">
    <input {{ attributes.addClass('a-text-field__element') }}/>
  </div>
</div>
