:root {
  --color-dark: #391400;
  --color-dark-accent: #ef6d58;
  --color-dark-gray: rgba(57, 20, 0, 0.64);
  --color-light: #fff;
  --color-light-accent: #ef6d58;
  --color-light-gray: rgba(255, 255, 255, 0.64);
  --color-page-bg: #fdf0ed;
}
