<div class="glide o-slider3">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      {% for item in items %}
        <li class="glide__slide">{{ item.content }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
  </div>
</div>