.m-pager {
  display: flex;
  gap: 4px;

  &__controls {
    display: flex;
    gap: 2px;
  }

  &__pages {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 2px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    text-align: center;

    &--inactive {
      cursor: not-allowed;
    }
  }

  &__link {
    --outline-offset: calc(var(--outline-size) * -1);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--color-text-stroke-primary);
    border-radius: 2px;

    &:hover {
      background-color: var(--color-background-secondary);
    }

    &--active {
      --outline-offset: var(--outline-size);

      color: var(--color-text-stroke-light);

      &,
      &:hover {
        background-color: var(--color-primary-primary);
      }
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__icon {
    width: 13px;
    height: 12px;
    fill: var(--color-text-stroke-secondary);

    .m-pager__item > & {
      fill: var(--color-text-stroke-tertiary);
    }
  }
}
