.m-status-messages {
  --m-status-messages-background-color: var(--color-grey-light);
  --m-status-messages-text-color: var(--color-black);
  --outline-color: var(--m-status-messages-text-color);

  display: flex;
  padding: 8px 16px;
  color: var(--m-status-messages-text-color);
  background-color: var(--m-status-messages-background-color);
  gap: 16px;

  &--status {
    --m-status-messages-background-color: var(--color-green);
  }

  &--warning {
    --m-status-messages-background-color: var(--color-yellow);
  }

  &--error {
    --m-status-messages-background-color: var(--color-danger);
  }

  &__icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    fill: currentColor;
  }

  &__content {
    flex-grow: 1;

    a {
      color: inherit;
    }
  }

  &__list {
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 8px;
  }
}
