:root {
  --font-sans: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
  --font-size-1: 1rem;
  --font-lineheight-3: 1.5;
}
:root {
  --font-body: epilogue, var(--font-sans);
}
@font-face {
  font-family: epilogue;
  src: url("../fonts/Epilogue-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
  font-style: normal;
  font-display: swap;
}
html {
  color: var(--color-dark);
  font-family: var(--font-body);
  font-size: var(--font-size-1);
  line-height: var(--font-lineheight-3);
}
body {
  background-color: var(--color-page-bg);
}
