/* ---------- Color Module Styles ----------- */
:root {
  --color-dark: #391400;
  --color-dark-accent: #ef6d58;
  --color-dark-gray: #391409;
  --color-light: #fff;
  --color-light-accent: #ef6d58;
  --color-light-gray: #eee;
  --color-page-bg: #fdf0ed;
}
